body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #FFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  img {
    display: block;
  }

.nav-menu {
    display: flex;
    gap: 24px;
    align-items: center;
  }

.nav-ul {
    display: flex;
    gap: 40px;
    flex-grow: 1;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

.sub-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.sub-h-one {
    font-size: 56px;
    font-weight: 700;
    color: #FFF ; 
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
}

.sub-h-two {
    font-size: 36px;
    color: #2E2F42;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-bottom: 72px;
}

.sub {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    font-style: normal;
}

.service-button {
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family:"Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    padding: 16px 32px;
    margin: 48px auto 0;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.service-button:hover, 
.service-button:focus{
  background-color: #404bbf;
}

/* header */

.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-header {
    color: #2E2F42;
}

.logo-footer {
    color: #F4F4FD;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: inline-block;
}

.nav-link:hover,
.nav-link:focus{
  color: #404BBF;
  }

.adress {
    font-style: normal;
}

.address-ul {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus{
color: #404BBF;
}

/* main */

.section-one {
    background: #2E2F42;
    padding: 188px 0;
}

.section-three {
    padding: 120px 0;
}

.section-two {
    background: #F4F4FD;
    padding: 120px 0;
}

.section-four {
    background-color: #ffffff;
    padding: 120px 0;
}

.sec-two-ul {
    display: flex;
    gap: 24px;
}

.sec-three-ul {
    display: flex;
    gap: 24px;
}

.sec-four-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.sec-three-li {
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 72px) / 4);
}

.sub-li {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer */

.footer {
    background: #2E2F42;
}

.p-footer {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    max-width: 264px;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

